.main_chart {
	width: 100%;
	min-height: 23rem;
	border: 1px solid white;
	border-radius: 10px;
	background-color: #ffff;
	overflow: hidden;
	box-shadow: 0px 4px 20px 0px rgba(238, 238, 238, 0.5);
	z-index: 1;
	box-sizing: border-box;
}

.main_chart h5 {
	font-family: "Poppins";
	font-weight: 600;
	line-height: 32px;
	font-size: 20px;
	margin-top: 0.8rem;
	margin-left: 26px;
}

.Line {
	padding-left: 0.25rem;
	padding-right: 0.25rem;
	width: 100%;
	height: 95%;
}

.legend {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 0.25rem;
	padding-top: 1.2rem;
	margin-left: 2.8rem;
	border-top: 2px solid #edf2f6;
	border-top-style: groove;
	width: 83%;
	height: 1.8rem;
}

.last_month,
.this_month {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	padding-bottom: 0.25rem;
	padding-top: 0.25rem;
	border-collapse: collapse;
	font-family: "Poppins";
	font-weight: 300;
	line-height: 30px;
	color: #96a5b8;
	font-size: 13.5px;
	height: 5.2rem;
	position: relative;
	width: 100%;
}

.last_month {
	padding-right: 0.5rem;
	border-right: 1px solid #edf2f6;
}

.legend > p {
	padding: 0;
	margin: 0;
	border: 0;
}
.text {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	width: 100%;
}
.this_month {
	padding-left: 0.5rem;
	border-left: 1px solid #edf2f6;
}

@media (max-width: 768px) {
	.main_chart {
		min-height: 15rem;
	}

	.Line {
		min-height: 12rem;
		width: 100%;
	}
}
