.main_container {
	width: 100%;
	min-height: 23rem;
	border: 1px solid white;
	border-radius: 20px;
	background-color: #ffff;
	z-index: 1;
	box-sizing: border-box;
}

.main_container h5 {
	font-family: "Poppins";
	font-weight: 600;
	line-height: 32px;
	letter-spacing: 0.04rem;
	font-size: 20px;
	margin-top: 8px;
	margin-left: 15px;
	z-index: 0;
}

.Line {
	width: 95%;
	height: 100%;
	margin: 0.3rem;
	z-index: 0;
}
@media screen and (min-width: 1200px) and (max-width: 1450px) {
	.main_container {
		width: 100%;
	}
}

@media (max-width: 768px) {
	.main_container {
		min-height: 15rem;
	}

	.Line {
		min-height: 100%;
		width: 100%;
	}
}
