@media only screen and (max-width: 1050px) {
	.form_container {
		width: 100%;
		padding: 0 0.25rem;
		flex-direction: column;
		justify-content: space-evenly;
		align-items: center;
		flex-wrap: wrap;
		flex-shrink: 0;
		overflow-x: hidden;
	}
}
.container {
	width: 100%;
	height: 100%;
	min-height: 60rem;
	padding: 2rem 0;
}
.form_container {
	height: 100%;
	min-height: 46rem;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	flex-shrink: 0;
	text-align: center;
	align-content: center;
	padding: 1rem 2rem;
	background-color: rgba(255, 255, 255, 0.68);
}
.title {
	/* position: relative; */
	width: 100%;
	height: 100%;
	padding: 1rem;
}
.h1 {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 500px;
	margin-top: 100px;
}
.title_h1 {
	font-family: "Poppins";
	font-size: 6rem;
	font-weight: 600;
	line-height: 2;
	color: var(--purple-color);
	position: absolute;
	transform: translate(-50%, -50%);
}
.title h1:nth-child(1) {
	color: transparent;
	-webkit-text-stroke: 2px var(--purple-color);
}

.title h1:nth-child(2) {
	color: var(--purple-color);
	animation: animate 4s ease-in-out infinite;
	animation: animate 4s ease-in-out infinite;
}
.title_span {
	font-family: "Poppins";
	font-size: 1.5rem;
	font-weight: 300;
	line-height: 1;
	padding: 0.25rem;
	color: var(--purple-color);
}

.main_form {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	flex-shrink: 0;
	text-align: center;
	width: 26rem;
	height: 30rem;
	padding: 0 3rem;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
	font-family: "Poppins";
	margin: 0 100px;
}

.form {
	align-self: center;
}
.form input {
	width: 90%;
	text-decoration: none;
	border: none;
	outline: offset 1px;
	border-radius: 0.5rem;
	margin: 0.5rem;
	padding: 0.6rem;
	background-color: rgba(0, 0, 0, 0.07);
}
.btn {
	display: inline-block;
	position: relative;
	border: 1px solid var(--purple-color);
	border-radius: 4px;
	padding: 0 15px;
	cursor: pointer;
	width: 20rem;
	height: 3rem;
	margin: 1rem;
	font-size: 20px;
	font-weight: 300;
	line-height: 1.34;
	color: var(--white-color);
	background-color: var(--purple-color);
}
.btn:hover {
	background: radial-gradient(circle, transparent 2%, var(--white-color) 1%) center/15000%;
	color: var(--black-color);
}
.btn:active {
	background-size: 100%;
	transition: background 0s;
	box-shadow: 0 3px 0 var(--purple-color);
	top: 3px;
}
.line {
	text-align: center;
	background-color: var(--purple-color);
	height: 1px;
	width: 10rem;
}

@keyframes animate {
	0%,
	100% {
		clip-path: polygon(0% 45%, 16% 44%, 33% 50%, 54% 60%, 70% 61%, 84% 59%, 100% 52%, 100% 100%, 0% 100%);
	}

	50% {
		clip-path: polygon(0% 60%, 15% 65%, 34% 66%, 51% 62%, 67% 50%, 84% 45%, 100% 46%, 100% 100%, 0% 100%);
	}
}
/* .title_h1 {
	animation: wiggle 400ms 2s 8 ease-out none;
}
@keyframes wiggle {
	0% {
		transform: rotateZ(0%);
	}
	50% {
		transform: rotateZ(-5deg);
	}
	100% {
		transform: rotateZ(5deg);
	}
} */
