.main_container {
	width: 43rem;
	height: 23rem;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	border-radius: 20px;
	border: 1px solid #f8f9fa;
	background: #fff;
	padding: 1rem;
	overflow: hidden;
	box-shadow: 0px 4px 20px 0px rgba(238, 238, 238, 0.5);
	z-index: 1;
}

.text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 35%;
	height: 29%;
	padding: 1.2rem 1.2rem;
	margin-left: 1rem;
	font-family: "Poppins";
	font-weight: 600;
	line-height: 32px;
	letter-spacing: 0.08rem;
	font-size: 20px;
	p {
		font-family: "Poppins";
		font-weight: 400;
		line-height: 1;
		letter-spacing: 0.04rem;
		font-size: 20px;
	}
}

.container {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 100%;
	height: 100%;
	padding: 0 0.5rem;
	align-items: center;
}

.TopSales,
.TopOrder,
.ProductSold,
.NewCustomers {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	font-family: "Poppins";
	padding: 0.25rem 0.25rem;
	width: 23%;
	height: 135px;
	border-radius: 16px;
	background: #ffe2e5;
	p {
		font-family: "Poppins";
		font-weight: 400;
		line-height: 1;
		letter-spacing: 0.04rem;
		font-size: 16px;
		color: #000;
	}
}
@media screen and (min-width: 1200px) and (max-width: 1450px) {
	.main_container {
		width: 98%;
		height: 98%;
	}
}

.TopSales {
	background: #ffe2e5;
}

.TopOrder {
	background: #fff4de;
}

.ProductSold {
	background: #dcfce7;
}

.NewCustomers {
	background: #f3e8ff;
}
