.main_container {
	width: 100%;
	min-height: 23rem;
	border: 1px solid white;
	border-radius: 10px;
	background-color: #ffff;
	z-index: 1;
	box-sizing: border-box;
	h5 {
		font-family: "Poppins";
		font-weight: 600;
		line-height: 1.2;
		font-size: 20px;
		margin-top: 1rem;
		margin-left: 1.2rem;
		letter-spacing: 0.05rem;
	}
}
.bar {
	padding-left: 0.25rem;
	padding-right: 0.25rem;
}

.legend {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 0.25rem;
	padding-top: 5px;
	margin-top: 10px;
	margin-left: 2.5rem;
	border-top: 2px solid #edf2f6;
	border-top-style: groove;
	font-family: "Poppins";
	font-weight: 300;
	line-height: 30px;
	color: #96a5b8;
	font-size: 13px;
	width: 83%;
	/* height: 3rem; */
}

.last_month,
.this_month {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-bottom: 0.25rem;
	border-collapse: collapse;
}

.last_month {
	padding-right: 1.5rem;
	border-right: 1px solid #edf2f6;
}

/* .last_month span {
	padding: 0;
	margin: 0;
	border: 0;
} */

.this_month {
	padding-left: 1.5rem;
	border-left: 1px solid #edf2f6;
}

@media (max-width: 768px) {
	.main_container {
		min-height: 12rem;
		width: 100%;
	}
}
