.home_main {
	display: flex;
	flex-direction: column;
	height: 100vh;
	overflow-x: hidden;
	overflow-y: auto;
	scroll-behavior: smooth;
	background-color: #eaeaea;
	z-index: 1;
}

/* @media (max-width: 1200px) {
	.home_main {
		transition: all ease-in-out 0.2s;
	}

	.navBar {
		width: 100px;
		transition: all ease-in-out step-end 0.2s;
	}
} */

.navBar {
	z-index: 5;
}

.topBar {
	z-index: 5;
}
.main {
	display: flex;
	flex: 1;
	overflow: hidden;
}
